# ignore all zip files
*.zip
*.exe
Unity*
steam_appid*
/valheim_Data
/MonoBleedingEdge
BepInEx/LogOutput.log
/BepInEx/cache
BepInEx/plugins/SkToolboxValheim.dll
BepInEx/config/com.Skrip.SkToolbox.cfg
/BepInEx/New-Server