## Settings file was created by plugin RRRNpcs v0.1.3
## Plugin GUID: com.alexanderstrada.rrrnpcs

[Compatibility]

## Normally, non-players cannot display Hair, Beards, Skin Color, or Hair Color. Only change if you know what you are doing.
# Setting type: Boolean
# Default value: true
EnablePlayerAppearanceFeaturesForNpcs = true

[CustomNPCs]

## A comma-separated list of custom NPC prefabs you want to load, by Full Prefab ID. If the config file for the given ID is not found, a blank template will be created for you. Remember: If your Config Name is `Jeff`, your Prefab ID is 'RRRN_Jeff'. A full list would look like this: RRRN_Jeff, RRRN_Bill, RRRN_Tom
# Setting type: String
# Default value: RRRN_Example
LoadCustomNPCs = RRRN_Example

[Npcs.Enabled]

## An all-tiers set of hostile human mobs.
# Setting type: Boolean
# Default value: true
RRR_Hostile = true

[OtherMods.RRRSpawnVariety]

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T1_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T1_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deer
RRR_Hostile_T1_OriginalMob = Deer

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T2_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T2_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deer
RRR_Hostile_T2_OriginalMob = Deer

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T3_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T3_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deer
RRR_Hostile_T3_OriginalMob = Deer

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T4_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T4_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deer
RRR_Hostile_T4_OriginalMob = Deer

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T5_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T5_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deathsquito
RRR_Hostile_T5_OriginalMob = Deathsquito

## Allow this enemy to spawn in the world in place of its original. Requires other mod: RRRSpawnVariety.
# Setting type: Boolean
# Default value: true
RRR_Hostile_T6_SpawnInWorld = true

## The relative chance that this variant replaces its original. Originals have weight 100.
# Setting type: Int32
# Default value: 3
RRR_Hostile_T6_SpawnWeight = 3

## The prefab id of original mob that this variant can replace. Case/capitalization matters!
# Setting type: String
# Default value: Deathsquito
RRR_Hostile_T6_OriginalMob = Deathsquito

