## Settings file was created by plugin WorldofValheimZones v0.5.16
## Plugin GUID: HackShardGaming.WorldofValheimZones

[Biome]

## Should we announce changing PVP in a Biome Announcement? true or false
# Setting type: Boolean
# Default value: true
BiomePVPAnnouncement = true

[Colors]

## What color should our 'Now Entering' message be if the zone type has PVP on
# Setting type: String
# Default value: Red
PVPColor = Red

## What color should our 'Now Entering' message be if the zone type has PVE off
# Setting type: String
# Default value: White
PVEColor = White

## What color should our 'Now Entering' message be if the zone type has No PVP Enforcement
# Setting type: String
# Default value: Yellow
NonEnforcedColor = Yellow

[WorldofValheimZones]

## Nexus ID to make Nexus Update Happy!
# Setting type: Int32
# Default value: 891
NexusID = 891

