## Settings file was created by plugin ValheimPermissions v1.0.0
## Plugin GUID: HackShardGaming.ValheimPermissions

[ValheimPermissions]

## Nexus ID to make Nexus Update Happy!
# Setting type: Int32
# Default value: 0
NexusID = 0

